<section class="place">
  <div class="place-header" data-swiper-parallax="-150">
    <div class="place-header-image-container">
      <div class="place-header-image">
        <img src="assets/img/place.webp" alt="Place Header Image" />
      </div>
    </div>
    <div class="place-header-content">
      <h1 class="place-header-title">Где?</h1>
    </div>
  </div>
  <div class="place-body">
    <div class="place-content">
      <p class="place-description" data-swiper-parallax="-120">ресторан "Хитрые люди"</p>
      <p class="place-description" data-swiper-parallax="-120">4-й Сыромятнический пер., 1/8 стр. 10</p>
    </div>
    <div class="place-button-wrapper">
      <button (click)="openYMap()" class="place-button" data-swiper-parallax="-250">Построить маршрут</button>
    </div>
  </div>
</section>
