:host {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-shrink: 0;
  min-height: 100dvh;

  @media (max-width: 1024px) {
    min-height: revert;
  }
}

.section {
  @media (max-width: 1024px) {
    flex: auto;
  }
}

.container {
  @media (max-width: 1024px) {
    height: auto;
    justify-content: space-between;
  }
}

.container-buttons {
  margin: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1024px) {
    width: 100%;
  }
}

.container-button {
  background-color: #83824a;
}

.container-button:active {
  background-color: #504f2d;
}