<section @fadeIn 
         class="section">
  <div class="container">
    <div class="container-header">
      <h1>ДРЕСС - КОДqwe</h1>
    </div>
    <div class="container-content">
      <p class="container-content__p">Дорогие гости, мы очень старались сделать праздник красивым и будем рады, если вы поддержите цветовую палитру нашей свадьбыв пастельно оливковых тонах.</p>
      <p class="container-content__p">Мужчины при выборе своих нарядов могут поддержать цветовую палитру свадьбы, а также допускается вариант черных, серых и темно-синих оттенков.</p>
      <p class="container-content__p">Женщин и девушек просим воздержаться от белого и черного оттенков в своих нарядах.</p>
    </div>
    <div class="container-footer">
      <div class="container-palette">
        <div class="palette-element bg-1"></div>
        <div class="palette-element bg-2"></div>
        <div class="palette-element bg-3"></div>
        <div class="palette-element bg-4"></div>
        <div class="palette-element bg-5"></div>
        <div class="palette-element bg-6"></div>
      </div>
    </div>
  </div>
</section>