:host {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-shrink: 0;
}

.section {
  flex: auto;
}

.container-header {
  background-image: url('/assets/ellipse_2.png');
  background-position: center;
  background-size: cover;
  min-height: 200px;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: contain;

  @media (max-width: 1024px) {
    min-height: 120px;
  }

  h1 {
    padding: 32px;
    color: #fff;

    @media (max-width: 1024px) {
      font-size: 32px;
    }
  }
}

.container-palette {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(235 220 201);
  border-radius: 32px;
  padding: 16px;
  gap: 8px;
  
  @media (max-width: 1024px) {
    margin: auto;
  }
}

.palette-element {
  width: 100px;
  height: 100px;
  border-radius: 16px;

  @media (max-width: 1024px) {
    width: 75px;
    height: 75px;
  }
}

.bg-1 {
  background-color: #83824a;
}

.bg-2 {
  background-color: #7e7d5e;
}

.bg-3 {
  background-color: #575645;
}

.bg-4 {
  background-color: #97952b;
}

.bg-5 {
  background-color: #666525;
}

.bg-6 {
  background-color: #666510;
}