<section class="dress-code">
  <h1 data-swiper-parallax="-350" class="dress-code-title">Дресс-кoд</h1>
  <div class="dress-code-description" data-swiper-parallax="-120">
    <p class="dress-code-description-item">
      У нас нет дресс-кода в классическом смысле. Вы не обязаны соответствовать каким-то строгим правилам.
    </p>
    <div class="dress-code-description-palette">
      <span>Но если хотите вписаться в общую гамму — мы будем рады оттенкам:</span>
      <div class="palette-block" data-swiper-parallax="-150">
        <div class="palette-block-item-1" title="Оттенок 1"></div>
        <div class="palette-block-item-2" title="Оттенок 2"></div>
        <div class="palette-block-item-3" title="Оттенок 3"></div>
        <div class="palette-block-item-4" title="Оттенок 4"></div>
        <div class="palette-block-item-5" title="Оттенок 5"></div>
        <div class="palette-block-item-6" title="Оттенок 6"></div>
      </div>
    </div>
    <p class="dress-code-description-item">P.S. Главное не полностью белое и не полностью чёрное</p>
  </div>
</section>
