/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Ura Bum Bum SP';
  src: url('/assets/fonts/UraBumBumSP.woff') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #F8F4EC;
}

h1, h2, h3, p {
  margin: 0;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 64px 32px;
  flex: 1;

  @media (max-width: 1024px) {
    padding: 64px 16px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  gap: 48px;

  @media (max-width: 1024px) {
    width: 100%;
    height: 100%;
    gap: 24px;
  }
}

.container-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    margin: 32px auto;
    font-size: 46px;
    color: rgb(41, 45, 26);
    font-family: 'Ura Bum Bum SP', cursive, sans-serif;
    font-weight: 700;
    cursor: default;
  }
}

.container-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  .container-content__p {
    max-width: 1000px;
    text-align: center;
    color: rgb(41, 45, 26);
    font-size: 22px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: default;

    @media (max-width: 1024px) {
      font-size: 18px;
    }
  }
}

.container-footer__text {
  display: none;

  @media (max-width: 1024px) {  
    display: block;
    position: absolute;
    color: #83824a;
    font-family: 'Ura Bum Bum SP', cursive, sans-serif;
    font-size: 18px;
    right: 50%;
    transform: rotateZ(5deg);
  }
}

.container-footer {
  position: relative;
  display: flex;
  
  @media (max-width: 1024px) {
    flex: 1;
  }
}

.container-buttons {
  margin: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1024px) {
    width: 100%;
  }
}

.container-button {
  border: none;
  width: 100%;
  max-width: 300px;
  border-radius: 32px;
  padding: 16px 32px;
  font-size: 24px;
  color: #fff;
  font-family: 'Ura Bum Bum SP', cursive, sans-serif;
  transition: background-color 0.3s ease;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

