:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  background-color:#F8F4EC;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

section {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  background-color:#F8F4EC;
}

.main {
  display: flex;
  flex-direction: column;
}

.wave-container {
  display: flex;
  margin-top: 24px;
  margin-bottom: 0;
  color: #83824a;
  font-family: 'Ura Bum Bum SP', cursive, sans-serif;
}

.wave-text text {
  font-family: 'Ura Bum Bum SP', cursive, sans-serif;
  font-size: 60px;
  fill: #83824a;
  dominant-baseline: middle;
  letter-spacing: 2px;
}

.main-container {
  position: relative;
  display: block;
  flex: 1;
}

.image-container {
  position: absolute;
  width: 300px;
  height: 300px;
    
  img {
    width: 100%;
    display: block;
  }
}

.first {
  top: 0;
  left: calc(50% - 160px + 181px);

  img {
    transform: rotate(145deg);
  }
}

.second {
  top: 50%;
  right: calc(45% - 160px + 181px);
  
  img {
    transform: rotate(263deg);
  }
}

.text-container {
  position: absolute;
  color: #83824a;
  text-align: center;
  width: 160px;
  font-family: 'Ura Bum Bum SP', cursive, sans-serif;

  h1 {
    font-size: 46px;
    opacity: 0;
    animation: fade-slide 1s ease-out forwards;
  }

  svg {
    opacity: 0;
    animation: fade-slide 1s ease-out forwards;
  }
}

.woman-name {
  top: 150px;
  left: calc(50% - 160px + 20px);
  transform: rotate(347deg);

  h1 {
    transform: translateX(-40px);
    animation-delay: 200ms;
  }
}

.man-name {
  top: 320px;
  right: calc(50% - 160px + 20px);
  transform: rotate(0deg);

  h1 {
    transform: translateX(40px);
    animation-delay: 400ms;
  }
}

@keyframes fade-slide {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.symbol {
  top: 230px;
  left: calc(50% - 160px + 70px);
  transform: rotate(347deg);

  h1 {
    transform: translateX(-40px);
    animation-delay: 300ms;
  }
}

.last-symbol {
  top: 410px;
  left: calc(50% - 160px + 132px);
  transform: rotate(347deg);

  h1 {
    transform: translateX(40px);
    animation-delay: 500ms;
  }
}

.heard {
  top: 490px;
  left: calc(45% - 160px + 132px);

  svg {
    transform: translateX(40px);
    animation-delay: 500ms;
  }
}


//second section

.description {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  .page-header {
    font-family: "Ura Bum Bum SP", cursive, sans-serif;
    font-size: 36px;
    color: white;
    font-weight: 500;
    align-self: flex-end;
    text-align: right;
    position: relative;
    display: block;
    z-index: 1;
    width: 80%;
  }

  .description-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
}

//third section
.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 32px;
}

.date {
  font-family: 'Ura Bum Bum SP', cursive, sans-serif;
  font-size: 32px;
  font-weight: 800;
  color: #83824a;
  margin-bottom: 16px;
}

.header-image {
  position: absolute;
  top: -5%;
  right: 0;
  width: 100%;
  height: 200px;
  left: 0;
  transform: rotate(185deg);
}

.page-header {
  font-family: 'Ura Bum Bum SP', cursive, sans-serif;
  font-size: 36px;
  color: #83824a;
  font-weight: 700;
  align-self: center;
  text-align: right;
  margin: 8px 16px;
}

.chat-content {
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  color: rgb(131, 130, 74);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.button-container {
  width: 100%;
}

.button-container .chat-button {
  width: 100%;
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #83824a;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}