:host {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  flex-shrink: 0;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}