<section class="timeline-section">
  <h2 class="timeline-section-title">Во сколько?</h2>
  <div class="timeline-section-content">
    <div class="timeline-section-items">
      <div class="timeline-item">
        <h3 class="timeline-item-title">12:30</h3>
        <span class="timeline-item-description">Церемония бракосочетания</span>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-item-title">13:30</h3>
        <span class="timeline-item-description">Фуршет и фотосессия</span>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-item-title">15:00</h3>
        <span class="timeline-item-description">Праздничный банкет</span>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-item-title">18:00</h3>
        <span class="timeline-item-description">Танцы и развлечения</span>
      </div>
    </div>
    <div class="timeline-section-image"></div>
  </div>
</section>
