:host {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  position: relative;
  overflow: hidden;
}

.form-header {
  margin: 0;
  color: #011549;
  font-family: 'Ura Bum Bum SP', cursive, sans-serif;
  font-size: clamp(2rem, 18vw, 3rem);
  text-align: center;
  font-weight: bold;
  line-height: 1;
}

.form-description {
  padding: 0 24px;
  margin: 0;
  color: #011549;
  font-family: "Playpen Sans", cursive;
  font-size: clamp(1rem, 24vw, 1.15rem);
  text-wrap: balance;
  text-align: center;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding: 120px 0;
}

.form-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100px;
}

.form-button {
  display: inline-block;
  padding: 18px 48px;
  background-color: #aea9dd;
  color: #011549;
  font-family: 'Ura Bum Bum SP', cursive, sans-serif;
  font-size: clamp(1rem, 14vw, 1.5rem);
  text-decoration: none;
  border: none;
  border-radius: 50px;
}