<section @fadeIn 
         class="section">
  <div class="container">
    <div class="container-header">
      <h1>А ГДЕ</h1>
    </div>
    <div class="container-content">
      <p class="container-content__p">Присоединяйтесь к нашему телеграм-каналу с новостями!</p>
      <p class="container-content__p">Делитесь фотографиями и видео с торжества!</p>
    </div>
    <div class="container-buttons">
      <button (click)="openYandexMap()"
              class="container-button">
        Смотреть на карте
      </button>
    </div>
  </div>
</section>